input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #000000;
  font-size: 16px;
  margin: 10px 0;
  box-sizing: border-box;
  background-color: transparent;
}

input[type="submit"] {
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
}